#login {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 1px;
 margin-left: 800px;
}
img {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 789px;
}
body {
    background-color: rgb(197, 192, 192);
}